.side-width {
    width: 300px;
}

@media(max-width: 991px) {
    .side-width {
        width: auto;
    }
}

.tab-btn-bg {
    .nav-link {
        background-color: $white;
    }
}

.avatar {
    width: 120px;
    height: 120px;
}
